/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#666;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width:190px;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
/* General Demo Style */
body{
	font-family: 'lane', Arial, sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #fff;
}
a{
	text-decoration: none;
}
.clr{
	clear: both;
}
/* Top Bar Style */
.codrops-top{
	line-height: 24px;
	font-size: 11px;
	background: rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
	z-index: 9999;
	position: fixed;
	right: 20px;
	left: 290px;
	top: 0px;
	width: 689px;
	position: absolute;
	height: 700px;
	margin-left: 20px;
	margin-top: 20px;
	height: 24px;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
	-webkit-animation: slideOut 0.5s ease-in-out 0.3s backwards;
	-moz-animation: slideOut 0.5s ease-in-out 0.3s backwards;
	-o-animation: slideOut 0.5s ease-in-out 0.3s backwards;
	-ms-animation: slideOut 0.5s ease-in-out 0.3s backwards;
	animation: slideOut 0.5s ease-in-out 0.3s backwards;
}
.codrops-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #fff;
	text-shadow: 0px 1px 1px #888;
	display: block;
	float: left;
}
.codrops-top a:hover{
	
}
.codrops-top span.right{
	float: right;
}
.codrops-top span.right a{
	float: left;
	display: block;
}
/* Demo Buttons */
#footer{
    position: absolute;
	width: 178px;
	height: 82px;
	padding: 20px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	background: rgba(0,0,0,0.5);
	text-transform: uppercase;
		text-align: center;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	top: 120px;
	left: 0px;
	margin-right: 20px;
	bottom: 0px;

}
#footer p {
	font-size: 10px;
	color:#fff;

}
#footer a{
    display: inline-block;
	color: #fff;
	text-align: center;
	margin-top:0px;
	

	
}
#footer a:hover{
	color: #0FF;
}
#footer a.current-demo,
#footer a.current-demo:hover{
	background: #000;
	color: #fff;
	cursor: default;
}
@-webkit-keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}
@-moz-keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}
@-o-keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}
@-ms-keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}
@keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}