html, body {
	height:100%;
}
body {
	width: 100%;
	overflow-y: scroll;
    overflow: hidden;
	background-color: transparent;
    background-repeat: repeat, no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    background-size: auto, cover;
	
	
}



<!-- twitter -->

#twtr-widget-1 .twtr-bd
{
color: #000000 !important;
font-weight: normal;
font-family: 'lane', Arial, serif;
line-height: 24px;
font-size: 16px;
padding-left: 0px;
}

#twtr-widget-1 .twtr-timeline i a
{
color: #000000 !important;
font-weight: normal;
font-family: 'lane', Arial, serif;
line-height: 24px;
font-size: 16px;
padding-left: 0px;
}

#twtr-widget-1 .twtr-bd p
{
color: #5e5e5e !important;
font-weight: normal;
font-family: 'lane', Arial, serif;
line-height: 24px;
font-size: 16px;
padding-left: 0px;
}
#twtr-widget-1 .twtr-tweet a {
	color:#999 !important;
}
#tweets {
	padding-left:25px;
}

#tweets .twtr-tweet a:link,
#tweets .twtr-tweet a:visited,
#tweets .twtr-tweet a:hover {
    color: #3FF !important;

}
#twitter .twtr-tweet {

    background: #transparent;

}

.twtr-timeline {

background-image:none !important;
background-color:transparent !important;

}

#tweets .twtr-widget,
#tweets .twtr-doc {

    width: 100%;
    height: auto;


}







#header{
	position: absolute;
	z-index: 2000;
	width: 235px;
	top: 50px;
}
.logo {
	height: 95px;
	width: 235px;
	padding-top: 10px;
	-webkit-animation: slideOut 0.5s ease-in-out 0.8s backwards;
	-moz-animation: slideOut 0.5s ease-in-out 0.8s backwards;
	-o-animation: slideOut 0.5s ease-in-out 0.8s backwards;
	-ms-animation: slideOut 0.5s ease-in-out 0.8s backwards;
	animation: slideOut 0.5s ease-in-out 0.8s backwards;
}
.wings {
	width: 235px;
	height: 35px;
	padding-top: 30px;
	top: 0px;
	position: absolute;
	-webkit-animation: slideOut 0.5s ease-in-out 0.8s backwards;
	-moz-animation: slideOut 0.5s ease-in-out 0.8s backwards;
	-o-animation: slideOut 0.5s ease-in-out 0.8s backwards;
	-ms-animation: slideOut 0.5s ease-in-out 0.8s backwards;
	animation: slideOut 0.5s ease-in-out 0.8s backwards;
}
#header h1{
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: rgba(255,255,255,0.9);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	padding: 20px 40px 20px 35px;
	width: 215px;
	height: 85px;
	-webkit-border-top-right-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-topright: 10px;
-moz-border-radius-bottomright: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;


}
#navigation {
	margin-top: 20px;
	width: 235px;
	display:block;
	list-style:none;
	z-index:3;
}
#navigation a{
	color: #444;
	display: block;
	background: #fff;
	background: rgba(255,255,255,0.9);
	line-height: 50px;
	padding: 0px 20px;
	text-transform: uppercase;
	margin-bottom: 6px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	font-size: 14px;
}
#navigation a:hover {
	background: #ddd;
}
.content{
	left: 280px;
	width: 650px;
	position: absolute;
	height: 89%;
	margin-left: 30px;
	top: 50px;
	padding-left: 20px;
	padding-right: 20px;
	background: rgba(0,0,0,0.2);
	overflow: auto;
	padding-bottom: 20px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.content h2{
	font-size: 110px;
	padding: 0px 0px 20px 0px;
	margin-top: 12px;
	color: #fff;
	color: rgba(255,255,255,0.9);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
.content h3{
	font-size: 40px;
	padding: 5px 0px 20px 0px;
	text-align: center;
	color: #fff;
	color: rgba(255,255,255,0.9);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
.content p{
	font-size: 16px;
	padding: 10px;
	font-weight: normal;
	line-height: 24px;
	color: #fff;
	display: inline-block;
	background-repeat:no-repeat;
	-webkit-border-radius: 5px;
    border-radius: 5px;
	padding: 10px;
	margin: 3px 0px 20px 0px;
	-webkit-box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, .1);
	box-shadow: inset 0px 0px 10px 4px rgba(0, 0, 0, .2);
	background-color:rgba(15, 15, 0, .7);
	
	
}
.panel{
	min-width: 100%;
	height: 98%;
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	margin-top: -150%;
	top: 0;
	opacity: 0;
	z-index:2;
	-webkit-transition: opacity .6s ease-in-out;
	-moz-transition: opacity .6s ease-in-out;
	-o-transition: opacity .6s ease-in-out;
	-ms-transition: opacity .6s ease-in-out;
	transition: opacity .6s ease-in-out;
}
.wingstuff {
	width: 63px;
	height: 14px;
	position: relative;
	margin: 0 auto;
}
.csoon{
	min-width: 100%;
	height: 250px;
	overflow: hidden;
	position: absolute;
	margin-top: -150%;
	opacity: 0;
	z-index:2;
	-webkit-transition: opacity .6s ease-in-out;
	-moz-transition: opacity .6s ease-in-out;
	-o-transition: opacity .6s ease-in-out;
	-ms-transition: opacity .6s ease-in-out;
	transition: opacity .6s ease-in-out;
	-webkit-border-radius: 5px;
    border-radius: 5px;
}
.csoon:target {
	opacity: 1;
	margin-top: 0%;
}
.panel:target{
	opacity: 1;
	margin-top: 0%;
}
#home:target ~ #header #navigation #link-home,
#portfolio:target ~ #header #navigation #link-portfolio,
#about:target ~ #header #navigation #link-about,
#contact:target ~ #header #navigation #link-contact{
	background: #000;
	color: #fff;
}
#works {
	padding: 15px 0px;
}
#works li{
	display: inline;
}
#works li a{
	padding-right: 10px;
}
#works img {
	box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
	padding: 12px; 
	background: rgba(255,255,255,0.9);
}
#form p{
	background: #fff;
	color: #000;
}
#form input, #form textarea{
	background: #000;
	color: #fff;
	border: none;
}
#form textarea{
	width: 493px;
	height: 100px;
}
#form label{
	padding-right: 10px;
	float: left;
}
.footnote a{
	color: #ddd;
}
.advert {
	padding-top:20px;
	right: 0;
	top: 0;
	position: fixed;
	background: rgba(0, 0, 0, 0.1);
	width: 250px;
	border-left: 1px solid #999;
	height: 100%;
	-webkit-animation: slideOut 0.8s ease-in-out 1s backwards;
	-moz-animation: slideOut 0.8s ease-in-out 1s backwards;
	-o-animation: slideOut 0.8s ease-in-out 1s backwards;
	-ms-animation: slideOut 0.8s ease-in-out 1s backwards;
	animation: slideOut 0.8s ease-in-out 1s backwards;
}
/* blur */

					  
					  /* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}
#sidewrapper {
	height: 700px;
	width: 300px;
}
#ftHolder { width: 500px; float: left; text-align: center; height: 332px; padding-top: 0px; border-top: 10px solid #f1f1f1;border-right: 10px solid #f1f1f1;border-left: 10px solid #f1f1f1; border-bottom: 115px solid #f1f1f1; }
#ft {  -moz-border-radius: 5px; margin: 0 auto;}
#example { float: left; }
.ft-title { padding: 10px 10px; width: 480px; text-align: left; }
a { color: #5C7F99; text-decoration: none;}

/*--- end:shared */

.topbar h2{ font-weight: normal !important }
.topbar a {text-decoration: none;}
.topbar a:hover { text-decoration: underline; }

.ft-prev, .ft-next { background-color:rgba(0,0,0,0.4); color: #0FA; padding: 0 10px; }

.ft-button-ft-active { color: black; }

.pagctr {
	margin: 0 auto;
	width: 520px;
}