p {
	font-family: 'lane', Arial, serif;
	font-size: 30px;
	font-weight:400;
}

.sidebar {
	width: 215px;
	height: 200px;
	background: rgba(0,0,0,0);
	margin-left: 42px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	position: absolute;
	top: 150px;
}
.newsletter {
	height: 20px;
	width: 217px;
	position: relative;
	text-shadow: 2px 2px 2px #444;
	top: 230px;
	left:42px;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 75px;
  border-bottom: 2px dotted #f1f1f1;
}
.newsletter p {
  padding-top: 5px;
}
.bmenu{
    padding: 0px;
    position: relative;
 padding: 15px 0px 20px 10px;
 border-top: 2px dotted #f1f1f1;
  border-bottom: 2px dotted #f1f1f1;
	
}
.bmenu li{
    font-size: 30px;
    display: block;
}
.bmenu li a{
	display: block;
	height: 40px;
	text-align: left;
	text-transform: uppercase;
	letter-spacing:-1px;
	text-shadow: 0px 0px 5px #222;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	color: #fff;
}
.bmenu:hover li a{
	text-shadow: 0px 0px 3px #0d1a3a;
}
.bmenu li a:hover{
	color: #fff;
	text-shadow: 0px 0px 1px #fff;
	padding-left: 15px;
}
@font-face {
    font-family: 'lane';
    src: url('../fonts/lanenar_-webfont.eot');
    src: url('../fonts/lanenar_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lanenar_-webfont.woff') format('woff'),
         url('../fonts/lanenar_-webfont.ttf') format('truetype'),
         url('../fonts/lanenar_-webfont.svg#lane_-_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.contentwrap {
	background: rgba(0,0,0,0.7);
}
.arrows {
	font-size: 15px;
	padding: 0;
	vertical-align: middle; 
	text-align: center; 
}

/*Newsletter */

.signup {
	font-family: 'lane' Arial, Serif;
}

.enterbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dfdfdf');
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family: 'lane', serif;
	font-weight:bold;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	width: 40px;
	float: right;
	margin-right: 15px;
	font-size: 12px;
}.enterbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ffffff');
	background-color:#dfdfdf;
}.enterbutton:active {
	position:relative;
	top:1px;
}
